<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>Controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acerca</servlet-name>
        <servlet-class>Controller.Acerca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/productos</url-pattern>
        <!-- Para listar productos -->
        <url-pattern>/agregarProducto</url-pattern>
        <!-- Para agregar productos -->
        <url-pattern>/actualizarEstatus</url-pattern>
        <!-- Para procesar la actualización de estatus -->
        <url-pattern>/editarInventario</url-pattern>
        <!-- Para editar el inventario -->
        <url-pattern>/actualizarInventario</url-pattern>
        <!-- Para editar el inventario -->
        <url-pattern>/editarSalidaInventario</url-pattern>
        <!-- Para editar salidas del inventario -->
        <url-pattern>/actualizarSalidaInventario</url-pattern>
        <!-- Para actualizar salidas del inventario -->
        <url-pattern>/movimientos</url-pattern>
        <!-- Para visualizar movimientos en el inventario -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuarios</url-pattern>
        <url-pattern>/altaUsuario</url-pattern>
        <url-pattern>/eliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/logut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acerca</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
</web-app>
